JumpNRun/Content/Levels/LevelDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="0.1">
  <xs:element name="Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Position" type="xs:string" />
        <xs:element name="IsVisible" type="xs:boolean" />
        <xs:element name="TextureAsset" type="xs:string" />
        <xs:element name="Options" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Parameter" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="Name" type="xs:string" use="required" />
                      <xs:attribute name="Type" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ID" type="xs:string" use="required" />
      <xs:attribute name="Type" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="LevelDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="Version" type="xs:decimal" />
        <xs:element name="Author" type="xs:string" />
        <xs:element name="AuthorMail" type="xs:string" />
        <xs:element name="NextLevel" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Layer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Item" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string"/>
      <xs:attribute name="Layer" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Level">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LevelDefinition" maxOccurs="1" minOccurs="1"/>
        <xs:element name="Structure">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Layer" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>